<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<plugin>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.eclipse.sirius.diagram.ui">
			
			<propertyTab
		    	afterTab="Base"
		        category="semantic &amp; extension"
		        id="mass_PartMass"
		        label="Basic Mass">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			
			<propertyTab
		    	afterTab="Base"
		        category="default"
		        id="mass_PartMass"
		        label="Basic Mass">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.eclipse.sirius.diagram.ui">
			<propertySection
		    	class="org.polarsys.capella.vp.mass.ui.sections.Mass_PartMass_mass_PartMass_Section"
		        filter="org.polarsys.capella.vp.mass.ui.sections.Mass_PartMass_mass_PartMass_Section"
		        id="mass_PartMass.mass_PartMass_Section"
		        tab="mass_PartMass">
		        
		    </propertySection> 
		    </propertySections>
</extension>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			<propertySection
		    	class="org.polarsys.capella.vp.mass.ui.sections.Mass_PartMass_mass_PartMass_Section"
		        filter="org.polarsys.capella.vp.mass.ui.sections.Mass_PartMass_mass_PartMass_Section"
		        id="mass_PartMass.mass_PartMass_Section"
		        tab="mass_PartMass">
		        
		    </propertySection> 
		    </propertySections>
</extension>
</plugin>