<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->


<plugin>

   <extension point="org.eclipse.emf.ecore.factory_override">
      <factory
            uri="http://www.polarsys.org/capella/requirement/7.0.0"
            class="org.polarsys.capella.requirement.impl.RequirementFactoryImpl"
      />
   </extension>

</plugin>
