<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2023 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
     <extension
         id="org.polarsys.capella.transition.system2subsystem"
         name="Requirements Transition Mapping"
         point="org.polarsys.kitalpha.transposer.rules.handler.mapping">
         
      <mapping
            context="org.polarsys.capella.core.transition.common.context.TransitionContext"
            description="A system to subsystem transition including Requirements"
            domainHelper="org.polarsys.capella.basic.requirement.transition.extension.RequirementsDomainHelper"
            extendedMappingExtensionID="org.polarsys.capella.core.transition.system"
            mappingName="System to SubSystem Transition"
            mappingPurpose="org.polarsys.capella.core.transition">
         
         <mappingPackage
               name="requirement">
               
            <mappingElement
                  domainMetaClass="org.polarsys.capella.basic.requirement.RequirementsPkg"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.basic.requirement.transition.rules.RequirementsPkgRule"
                     incompleteRule="org.polarsys.capella.basic.requirement.transition.rules.RequirementsPkgRule"
                     enabled="true"
                     name="RequirementsPkg">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.basic.requirement.Requirement"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.basic.requirement.transition.rules.RequirementRule"
                     incompleteRule="org.polarsys.capella.basic.requirement.transition.rules.RequirementRule"
                     enabled="true"
                     name="Requirement">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.basic.requirement.RequirementsTrace"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.basic.requirement.transition.rules.RequirementsTraceRule"
                     incompleteRule="org.polarsys.capella.basic.requirement.transition.rules.RequirementsTraceRule"
                     enabled="true"
                     name="RequirementsTrace">
               </defaultMappingPossibility>
            </mappingElement>
         </mappingPackage>            
       </mapping>
    </extension>

    <extension
         point="org.polarsys.capella.core.transition.handlers">
      <handlers
            id="Requirement extension"
            mapping="all"
            purpose="org.polarsys.capella.core.transition">
         <domain
               id="http://www.polarsys.org/capella/basic/requirement">
         </domain>
         <scopeRetriever
               id="scopeRequirement"
               class="org.polarsys.capella.basic.requirement.transition.extension.RequirementsScopeRetriever">
         </scopeRetriever>
         <scopeFilter
               id="scopeRequirementD"
               class="org.polarsys.capella.basic.requirement.transition.extension.RequirementsScopeFilter">
         </scopeFilter>
         <activityExtender
               activityIdentifier="DifferencesMergingActivity"
               class="org.polarsys.capella.basic.requirement.transition.extension.EnableViewpoint"
               id="enableViewpoint">
         </activityExtender>
      </handlers>
    </extension>
    
</plugin>
