<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>




<plugin>

   <extension point="org.eclipse.emf.ecore.factory_override">
      <factory
            uri="http://www.polarsys.org/capella/mass"
            class="org.polarsys.capella.vp.mass.mass.impl.MassFactoryImpl"
      />
   </extension>

</plugin>
