<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mass -->
      <package class="org.polarsys.capella.vp.mass.mass.MassPackage" genModel="models/mass.genmodel" uri="http://www.polarsys.org/capella/mass"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mass -->
      <parser class="org.polarsys.capella.vp.mass.mass.util.MassResourceFactoryImpl" type="mass"/>
   </extension>


<!--@generated-->
  <extension point="org.polarsys.capella.common.model.helpers.helper">
    <helperImpl class="org.polarsys.capella.vp.mass.model.helpers.MassPackageHelper" nsURI="http://www.polarsys.org/capella/mass"/>
  </extension>
</plugin>
