<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated perfo -->
      <package class="org.polarsys.capella.vp.perfo.perfo.PerfoPackage" genModel="models/perfo.genmodel" uri="http://www.polarsys.org/capella/perfo"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated perfo -->
      <parser class="org.polarsys.capella.vp.perfo.perfo.util.PerfoResourceFactoryImpl" type="perfo"/>
   </extension>


<!--@generated-->
  <extension point="org.polarsys.capella.common.model.helpers.helper">
    <helperImpl class="org.polarsys.capella.vp.perfo.model.helpers.PerfoPackageHelper" nsURI="http://www.polarsys.org/capella/perfo"/>
  </extension>
</plugin>
